<div class="row">
    <div class="col-xs-12">
      <div class="modal-body">
        <table class="table table-image">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Qty</th>
              <th scope="col">Total</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of cart">
            <tr>
              <td class="w-25">
                <img [src]="item.imageUrl" class="img-fluid img-thumbnail" alt="Cannot load img">
              </td>
              <td>{{item.name}}</td>
              <td>{{item.price}}$</td>
              <td class="qty"><input type="text" class="form-control" id="input1" [value]="item.qty"></td>
              <td>{{item.price*2}}$</td>
              <td>
                <a href="#" class="btn btn-danger btn-sm">
                  <i class="fa fa-times"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table> 
        <div class="d-flex justify-content-end">
          <h5>Total: <span class="price text-success">89$</span></h5>
        </div>
      </div>
      <div class="modal-footer border-top-0 d-flex justify-content-between">
        <button type="button" class="btn btn-primary">Checkout</button>
      </div>
    </div>
  </div>