<br>
<div *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
</div>
<div>
  <div class="container" *ngIf="!loading">
    <div class="row">
      <div class="col-md-8">
        <h3>Shopping Cart({{totalItemss}})</h3>
        <div *ngIf="cart.totalPrice==0">
          <div class="col-12 alert alert-info" style="line-height: 1; margin-top: 40px;">
            <p>Shopping cart is currently empty</p>
            <p>Add items to your cart and view them here before you checkout</p>
          </div>
          <button class="btn btn-secondary" (click)="getOrders()">Previous Orders</button>

        </div>
        <div *ngIf="cart.totalPrice !=0">
          <div class="item rounded" *ngFor="let item of cart.products;let i=index">
            <div class="row">
              <div class="col-3">
                <img [src]="item.productID.imageUrl">
              </div>
              <div class="col-6">
                <p class="lead">{{item.productID.name}}</p>
                <p class="lead" style="color:brown;font-weight: bolder;">LE {{item.productID.price*item.quantity}} <span
                    class="gray">({{item.productID.price}}
                    for each
                    other)</span></p>
                <p style="color: #1CC874;"><i class="fas fa-check"></i><span class="black">Free Shipping</span></p>
                <p class="gray">Sold by: Light Market.com</p>
                <p class="gray">Condition: New</p>
              </div>
              <div class="col-3 d-flex align-items-center">
                <button *ngIf="cart.status === 'select'" class="btn btn-danger btn-sm" [disabled]="item.quantity ===1"
                  (click)="onUpdateAmount(cart.id,item.productID._id,item.productID.price,'minus')"><i
                    class="fas fa-minus"></i></button> <span class="quantity">{{item.quantity}}</span>
                <button class="btn btn-dark btn-sm" *ngIf="cart.status === 'select'"
                  [disabled]="item.quantity ===item.productID.quantity"
                  (click)="onUpdateAmount(cart.id,item.productID._id,item.productID.price,'add')"><i
                    class="fas fa-plus"></i></button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-12">
                <button class="btn btn-danger"
                  (click)="onUpdateAmount(cart.id,item.productID._id,item.productID.price,'delete')"><i
                    class="fas fa-trash"></i> Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="cart.totalPrice> 0">
        <div class="item" style="margin: auto;">
          <p>Total :</p>
          <p style="font-weight: bolder; color: black; font-size: 23px; font-family: monospace;">LE
            {{cart.totalPrice}}</p>
          <hr>
          <p style="color: #1CC874;"><i class="fas fa-check"></i><span class="black">This Order Allow Free
              Shipping</span>
          </p>
        </div>
        <button class="btn btn-success btn-custom" (click)="checkout()" data-toggle="modal" data-target="#comInfo"
          *ngIf="cart.status ==='select'">PROCEED TO
          CHECKOUT</button>
        <button class="btn btn-secondary btn-custom" (click)="getOrders()">Previous Orders</button>
        <div class="modal fade" id="comInfo" tabindex="-1" role="dialog" aria-labelledby="editModalLable"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editModalLable">Complete Your Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!--Form -->
                <div class="alert alert-success" *ngIf="message">
                  {{message}}
                </div>
                <form (ngSubmit)="makeOrder(f)" #f="ngForm">
                  <div class="form-group row">
                    <label for="fullname" class="col-sm-3 col-form-label">Your Fullname</label>
                    <div class="col-sm-9">
                      <input id="fullname" name="fullname" type="text" placeholder="Full Name" class="form-control"
                        required ngModel>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="address" class="col-sm-3 col-form-label">Address</label>
                    <div class="col-sm-9">
                      <textarea name="address" id="address" cols="30" rows="5" class="form-control"
                        placeholder="Enter your full address to help us to reach your location " required
                        ngModel></textarea>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="phone" class="col-sm-3 col-form-label">Your Phone</label>
                    <div class="col-sm-9">
                      <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control" required
                        ngModel>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success" [disabled]="!f.valid">Order</button>
                </form>
                <!-- End Form -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>