<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#">Light Market</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let item of menu" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="item.link">{{item.name}}</a>
      </li>
    </ul>
    <button class="btn btn-outline-danger my-2 my-sm-0"(click)="logout()" *ngIf="checkLogin">Logout</button>
    <button class="btn btn-outline-success my-2 my-sm-0" *ngIf="!checkLogin" [routerLink]="['/auth']"  >Login</button>
  
  </div>
</nav>