<br>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div class="container" *ngIf="!isLoading">
    <div class="row" *ngIf="message">
        <div class="col-sm-12 d-flex justify-content-center">
            <div class="alert alert-success">
                <p class="text-center"><i class="fa fa-check-square fa-3x"></i></p>
                <h3 class="lead text-center">{{message}}</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-warning btn-xl" data-toggle="modal" data-target="#addQuestion">ASK A SPECIALIST</button>
    </div>
    <div class="modal fade" id="addQuestion" tabindex="-1" role="dialog" aria-labelledby="editModalLable"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLable">Add Your Consultation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--Form -->
                    <form (ngSubmit)="onSubmitQuestion(f)" #f="ngForm">
                        <div class="form-group row">
                            <label for="author" class="col-sm-3 col-form-label">Your Name</label>
                            <div class="col-sm-9">
                                <input id="author" name="author" type="text" placeholder="Full Name"
                                    class="form-control" required ngModel>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="question" class="col-sm-3 col-form-label">Question</label>
                            <div class="col-sm-9">
                                <textarea name="question" id="question" cols="30" rows="5" class="form-control"
                                    placeholder="Enter your massage for us here. We will get back to you within 2 business days."
                                    required ngModel></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success" [disabled]="!f.valid">Send</button>
                    </form>
                    <!-- End Form -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <app-single-faq *ngFor="let singleFaq of faq" [faq]="singleFaq"></app-single-faq>
</div>