.jumbotron-color{
    background-color: #EEBD43;
    color: brown;
}
.brand-img{
    width: 30x;
    height:30px;
    margin-right: 10px;
    border-radius: 20%;
}
.logo{
    width: 150px;
    height: 150px;
    text-align: center;
}