<div class="card" style="width: 18rem;">
  <img class="card-img-top" [src]="product.imageUrl" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title text-center">{{product.name}}</h5>
    <p class="cart-text display-4 text-center">${{product.price}}<span class="descount">${{product.secondPrice}}</span>
    </p>
    <p *ngIf="product.quantity >=1" class="cart-text" style="color: #008A00;"><span class="dot"></span> In Stock</p>
    <p *ngIf="product.quantity ==0" class="cart-text" style="color: red;"><span class="redot"></span> Out of Stock</p>
    <div class="d-flex align-items-end">
      <button class="btn btn-warning btn-xl" [disabled]="product.quantity ==0" (click)="addToCard()"><span
          *ngIf="product.quantity >0">ADD TO
          CART</span><span *ngIf="product.quantity ==0">SOLD OUT</span></button>
    </div>
  </div>
</div>