.btn-xl {
  padding: 7px 61px;
  font-size: 18px;
  border-radius: 16px;
}
.card-img-top{
  width: 250px;
  height: 250px;
  margin: auto;
}

.display-4 {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.2;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #008A00;
  border-radius: 50%;
  display: inline-block;
}
.redot {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.descount{
text-decoration: line-through;
font-size: 15px;
font-weight: 400;
}