<table datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="carts?.length != 0">
    <thead>
        <tr>
            <th>#</th>
            <th>Customer ID</th>
            <th>Cart</th>
            <th>Phrchasing Date</th>
            <th>Delivery Date</th>
            <th>Order Status</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cart of carts;let i=index">
            <th>{{i+1}}</th>
            <th>{{cart.userId}}</th>
            <th>
                <div *ngFor="let product of cart.products">
                    <p *ngIf="product.productID.name !==null">{{product.productID.name}}||<span>{{product.quantity}}</span></p>
                </div>
            </th>
            <th>Phrchasing Date</th>
            <th>Delivery Date</th>
            <th>Order Status</th>
            <th>Comments</th>
        </tr>
    </tbody>
</table>
  