.question-icon{
    color: #616060;
}
.question-box{
    background-color:  #fff;
    color :#121212;
    padding: 20px;
    margin: 5px;

}
.answer-box{
    background-color:  #EEBD43;
    color :white;
    padding: 20px;
    margin: 5px;

}