<div class="row">
    <div class="col-md-2 d-flex justify-content-center align-items-center">
        <div>
            <img class="rounded-circle" style="width: 100px; height: 100px;"
                src="https://thumbs.gfycat.com/BlankHonorableFirecrest-small.gif" alt="">
        </div>
    </div>
    <div class="col-md-10">
        <div class="question-box rounded">
            <p>{{faq.question}}</p>
            <p>Asked By : {{faq.author}}</p>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="answer-box rounded">
            <p>{{faq.answer}}</p>
            <p>Answerd By : {{faq.specialist}}</p>
        </div>
    </div>
    <div class="col-md-2 d-flex justify-content-center justify-content-md-start align-items-center">
        <div>
            <img class="rounded-circle" style="width: 100px; height: 100px;"
                src="https://i.pinimg.com/originals/d2/9b/74/d29b74e0bea46918ab5fd08d8c89b0c6.gif" alt="">
        </div>
    </div>
</div>
<hr>